In [ ]:
import pandas as pd
import pathlib as pl
import matplotlib.pyplot as plt

In [8]:
from datafetchers import fetch_transaction_df_all

In [9]:
interested_cols = [
    "amount",
    "date",
    "merchant_name",
    "name",
    "location.city",
    "location.region",
    "location.country",
    "personal_finance_category.primary",
    "personal_finance_category.detailed",
]

In [22]:
df = fetch_transaction_df_all()

In [23]:
df[interested_cols]

,amount,date,merchant_name,name,location.city,location.region,location.country,personal_finance_category.primary,personal_finance_category.detailed
0,46.33,2025-08-05,Auctions By Schackmann,AUCTIONS BY SCHACKMANN,Effingham,IL,None,GENERAL_SERVICES,GENERAL_SERVICES_OTHER_GENERAL_SERVICES
1,30.00,2025-08-05,Visible,VISIBLE CO,None,None,None,RENT_AND_UTILITIES,RENT_AND_UTILITIES_TELEPHONE
2,-1515.81,2025-08-14,None,DIRECTPAY FULL BALANCE SEE DETAILS OF YOUR NEX...,None,None,None,LOAN_PAYMENTS,LOAN_PAYMENTS_CREDIT_CARD_PAYMENT
3,14.95,2025-07-29,Amazon,Audible,None,None,None,GENERAL_MERCHANDISE,GENERAL_MERCHANDISE_ONLINE_MARKETPLACES
4,30.00,2025-08-05,Visible,VISIBLE CO,None,None,None,RENT_AND_UTILITIES,RENT_AND_UTILITIES_TELEPHONE
...,...,...,...,...,...,...,...,...,...
207,14.09,2025-05-26,Marathon Petroleum,MARATHON PETRO230524DIETERICH,Dieterich,IL,None,TRANSPORTATION,TRANSPORTATION_GAS
208,21.34,2025-05-26,Steam,WL *STEAM PURCHASE,Seattle,WA,None,ENTERTAINMENT,ENTERTAINMENT_VIDEO_GAMES
209,63.45,2025-06-01,BP,BP#6986673ACEE'S # 2VIENNA,Vienna,IL,None,TRANSPORTATION,TRANSPORTATION_GAS
210,5.20,2025-05-29,Marathon Petroleum,MARATHON PETRO230524DIETERICH,Dieterich,IL,None,TRANSPORTATION,TRANSPORTATION_GAS
211,-1504.49,2025-06-24,None,AUTOPAY PAYMENT - THANK YOU,None,None,None,LOAN_PAYMENTS,LOAN_PAYMENTS_CREDIT_CARD_PAYMENT

In [27]:
dates = df[df.account_id == "AVoynVmxZdUDrKRa53ozsdnA6X9d31Cw6ZxPn"].authorized_date
dates.min(), dates.max()
dates.hist()

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [25]:
amex_df = df[df.account_id == "AVoynVmxZdUDrKRa53ozsdnA6X9d31Cw6ZxPn"]
amex_df[amex_df.amount > 0].amount.sum()

np.float64(6240.25)